Скъпи ${firstname} ${lastname},<br/>
<br/>
Вие се регистрирахте успешно! За да потвърдите Вашата регистрация отворете линкът по-долу:<br/>
${confirmation_link}
<br/>

<br/>
Благодарим Ви,<br/>
Администратор<br/>