Поздравления ${firstname} ${lastname}, Вие спечелихте аукцион с ИД:${auctionId} <br/>
За да получите ${item_name} трябва да платите ${auction_item_price}лв. рамките на 14 дена.
<br/>

<br/>
Благодарим Ви,<br/>
Администратор<br/>